appdirs==1.4.3
backports.functools-lru-cache==1.4
canvasvg==1.0.0
cycler==0.10.0
Django==1.11.29
django-json-field==0.5.7
django-model-utils==3.1.2
docutils==0.13.1
geodjango-tigerleaflet==0.2.1
geodjango-tigerline==1.1.0
geodjango-timezones==1.0
gunicorn==19.9.0
packaging==16.8
python-dateutil==2.6.1
pytz==2017.3
requests==2.20.0
virtualenv==15.1.0
pymongo==3.4.0
requests_oauthlib==1.3.0
django-oauth-toolkit==1.0.0
