{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>InSale</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/jquery.leanModal.min.js' %}"></script>
<link href="{% static 'css/jquery.uls.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.grid.css' %}" rel="stylesheet"/>
<link href="{% static 'css/jquery.uls.lcd.css' %}" rel="stylesheet"/>
<!-- Source -->
<script src="{% static 'js/jquery.uls.data.js' %}"></script>
<script src="{% static 'js/jquery.uls.data.utils.js' %}"></script>
<script src="{% static 'js/jquery.uls.lcd.js' %}"></script>
<script src="{% static 'js/jquery.uls.languagefilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.regionfilter.js' %}"></script>
<script src="{% static 'js/jquery.uls.core.js' %}"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css' %}" />
    <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
</head>
<body>
<div class="header">
		<div class="container">
			<div class="logo">
				<a href="/home"><span>In</span>sale</a>
			</div>
			<div class="header-right">
			<a class="account" href="login.html">My Account</a>
	<!-- Large modal -->
		
		</div>
		</div>

      <script type="text/javascript">
    
$(document).ready(function(){
        $("#err").fadeOut(5000);
   
}); 
</script>

	</div>
	<div class="banner text-center">
	  <div class="container">    
			<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
			<a href="/">Post Free Ad</a>
	  </div>
	</div>
	<!-- Feedback -->
				 
			    {% for message in messages %}
			    {% if 'success' in message.tags %}

			        <div id="err" style="background-color:#60ce68;color: white;" class="well" >{{ message }}</div>
			    {% endif %}
			{% endfor %}

			{% for message in messages %}
			    {% if 'error' in message.tags %}
			       <div id="err" style="background-color:#B91104;color: white;" class="well" >{{ message }}</div>
			    {% endif %}
			{% endfor %}
	<div class="feedback main-grid-border">
		<div class="container">
			<h2 class="head">Feedback</h2>
			<div class="feed-back">
				<h3>Tell us what you think of us</h3>
				<div class="feed-back-form">
					<form method="POST" action="{% url 'feed' %}" id="feedback-form">{% csrf_token %}

							<input type="text" value="First Name" name="fname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}" required>
							<input type="text" value="Last Name" name="flname" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}" required>
							<input type="text" value="Email" name="fmail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required>
							<span>Is there anything you would like to tell us?</span>
							<textarea type="text" name="fmsg" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required>Message...</textarea>
							<input type="submit" value="submit">
						</form>
				</div>
			</div>
		</div>	
	</div>
	<!-- // Feedback -->
	<!--footer section start-->		
</body>
</html>